* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #f6f7f8;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: #011627;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
}

.logo-contacto {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

.logo-contacto .logo {
    width: 70%;
    font-size: 30px;
    font-weight: 600;
}

.logo-contacto .contacto {
    /* width: 50%; */
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    text-decoration: none;
    color: white;
    border: white 1px solid;
    border-radius: 20px;
    border: 1px solid white;
    padding: 6px 10px;
    border-radius: 999px;
    /* pill */
}

main {
    position: relative;
    width: 80%;
}

.grid {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
}



.card {
    background: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid gray;
    position: relative;

}

.card h3 {
    margin: 0 0 0.5rem;
}

.card button {
    background: #20A4F3;
    border: none;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.card .rubro {
    position: absolute;
    /* position: sticky; */
    top: 10px;
    left: 10px;
    padding: 5px;
    border: #000 1px solid;
    border-radius: 10px;
    background-color: white;
    box-shadow: #000 4px 5px;
}

.card .nombre {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}




.precio-name {
    font-size: 20px;
    margin-top: 20px;
}

.oculto {
    display: none;
}



.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.producto-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 100rem;
}

.img-box {
    width: 100%;
    height: 260px;
    background: #f3f3f3;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box img {
    width: 265px;

    height: 400px;
    object-fit: cover;
    background-color: grad;
    object-position: center;


}




.filtros {
    justify-content: center;
    display: flex;
    gap: 0.5rem;
    padding: 0 1rem;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;

}

.mostrar {
    display: flex;
}

#subir {
    position: fixed;
    right: 2vh;
    z-index: 10;
    bottom: 10vh;
    text-decoration: none;
    color: white;
    padding: 15px;
    border: #011627 1px solid;
    background: #000;
    border-radius: 20px;

}

.filtros button {
    border: 1px solid black;
    background: white;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
    border-radius: 6px;
    transition: all ease-in-out 200ms;

}

.filtros button.activo {
    background: #011627;
    color: white;
    border-color: #011627;
}

.buscar-btn {
    gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;

}



.precio {
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    background-color: yellow;
    border: #000 1px solid;
    padding: 10px;
}

.buscador {
    background-color: white;
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    border-radius: 20px;
    font-size: 20px;

}

.buscador input {
    font-size: 15px;
    background-color: white;
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 20px;
    padding: 5px;
    margin-left: 10px;

}

.lupa {
    margin-right: 5px;
    padding-bottom: 5px;
}

.no-results {
    width: 100%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.no-results span {
    padding: 10px;
    border: #011627 1px solid;
    border-radius: 10px;
    cursor: pointer;
}



.contacto {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: inherit;
    text-decoration: none;
    cursor: pointer;

}

.phone-icon {
    display: inline-block;
    animation: nudge 1.8s ease-in-out infinite;
    font-size: 20px;
}

@keyframes floatPhone {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}

.phone-icon {
    animation: floatPhone 2.5s infinite;
}


@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, minmax(220px, 1fr));
    }

    .buscador {
        width: 50%;
    }

}

@media (max-width: 800px) {
    .grid {
        grid-template-columns: repeat(2, minmax(220px, 1fr));
    }

    .buscador {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .buscador {
        width: 70%;
    }

    header .logo-contacto .logo {
        text-align: center;
        width: 100%;
    }

    header .logo-contacto .contacto {
        text-align: center;
        margin-left: 10px;
    }

    main {
        width: 100%;
    }
}