* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #f6f7f8;
}

header {
    background: #011627;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



main {
    position: relative;
}

.grid {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
}



.card {
    background: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid gray;

}

.card h3 {
    margin: 0 0 0.5rem;
}

.card button {
    background: #20A4F3;
    border: none;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

#carrito {
    display: flex;
    padding-left: 20px;
    align-items: center;
    background: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;

}

.oculto {
    display: none;
}



.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.producto-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 100rem;
}

.img-box {
    width: 100%;
    height: 260px;
    background: #f3f3f3;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box img {
    width: 265px;
    /* width: 100%; */
    /* height: 100%; */
    height: 400px;
    object-fit: cover;
    background-color: grad;
    object-position: center;


}




.filtros {
    justify-content: center;
    display: flex;
    gap: 0.5rem;
    padding: 0 1rem;
    flex-wrap: wrap;
    padding: 20px;
}

.mostrar {
    display: flex;
}

#subir {
    position: fixed;
    right: 2vh;
    z-index: 10;
    bottom: 10vh;
    text-decoration: none;
    color: white;
    padding: 5px;
    border: #011627 1px solid;
    background: #000;
    border-radius: 10px;
    font-size: 20px;
}

.filtros button {
    border: 1px solid black;
    background: white;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
    border-radius: 6px;
    transition: all ease-in-out 200ms;

}

.filtros button.activo {
    background: #011627;
    color: white;
    border-color: #011627;
}

.buscar-btn {
    gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.precio {
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    background-color: yellow;
    border: #000 1px solid;
    padding: 10px;
}

.buscador {
    background-color: white;
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    border-radius: 20px;
    font-size: 20px;
}

.buscador input {
    font-size: 15px;
    background-color: white;
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 20px;
    padding: 5px;
    margin-left: 10px;
}

.lupa {
    margin-right: 5px;
    padding-bottom: 5px;
}

.no-results {
    width: 100%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.no-results span {
    padding: 10px;
    border: #011627 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, minmax(220px, 1fr));
    }

    .buscador {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .grid {
        grid-template-columns: repeat(2, minmax(220px, 1fr));
    }

    .buscador {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .buscador {
        width: 70%;
    }
}