* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f6f7f8;
}

header {
    background: #011627;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
}



.card {
    background: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin: 0 0 0.5rem;
}

.card button {
    background: #20A4F3;
    border: none;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

#carrito {
    padding-left: 20px;
    align-items: center;
    background: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;

}

.oculto {
    display: none;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.producto-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 100rem;
}

.img-box {
    width: 100%;
    height: 200px;
    background: #f3f3f3;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img-box {
    background: #fff;
}

.filtros {
    justify-content: center;
    display: flex;
    gap: 0.5rem;
    padding: 0 1rem;
    flex-wrap: wrap;
    padding: 10px;
}



.filtros button {
    border: 1px solid #ddd;
    background: white;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    border-radius: 6px;
}

.filtros button.activo {
    background: #011627;
    color: white;
    border-color: #011627;
}


@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, minmax(220px, 1fr));
    }
}

@media (max-width: 800px) {
    .grid {
        grid-template-columns: repeat(2, minmax(220px, 1fr));
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}